#about {
  /* Some CSS will go here soon! */
  /* comment, comment, comment... */
  @keyframes slide-in-right {
    0% { transform: translateX(150%)}
    100% { transform: translateX(0%); }
  }
  @keyframes slide-in-left {
    0% {transform: translateX(-150%)}
    100% {transform: translateX(0%); }
  }
  @keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
  }
  .biography-title {
    animation: slide-in-right 1s cubic-bezier(0.83, 0, 0.17, 1) forwards;
  }
  .main-content {
    opacity: 0;
    animation: fade-in 1s forwards, slide-in-right 1s cubic-bezier(.83,0,.17,1) forwards;
    animation-delay: 1s;
  }
#profile {
  animation: slide-in-left 1s cubic-bezier(0.83, 0, 0.17, 1)
  }
  .interests-div {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 1s;
  }

  .education-div {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 1.5s;
  }
}
.navbar {
  animation: fade-in 1s cubic-bezier(0.83, 0, 0.17, 1) both;
  height: 70px;
  color: #B2D5F5;
  background: $sta-menu-primary;
/* this is the part that takes out the shadow & the only edit */
  box-shadow: none;
  font-size: 14px;
  font-weight: 900 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 1rem;
}
